<div class="booking-box">
  <h2>Book:</h2>
  <%= simple_form_for ([@portfolio, @reservations]) do |f| %>
  <%= f.input :date, as: :date, html5: true %>
  <div class="details-show-price py-2 pr-1">
    <h4 class="text-center" id="priceCalculator" data-price="<%= @portfolio.price %>">Total: $  <%= number_with_precision(@portfolio.price, precision: 0) %> <span>/day</span></h4>
  </div>
  <%= f.submit "Book Now", class:"btn btn-primary w-100 button-design" %>
  <% end %>
</div>
