<div class="container">
  <div class="h1-favorite-wrapper d-flex mx-1">
    <div class=" d-flex w-100">
      <% if @portfolio.user.photo.attached? %>
        <%= cl_image_tag @portfolio.user.photo.key, class: "show-page-avatar mr-3" %>
      <% else %>
        <%= image_tag "https://images.unsplash.com/photo-1593099295589-ee5c1aa4164f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2736&q=80", class: 'preview-avatar mb-2', width: '60px', height: '60px'%>
      <% end %>
      <h1 class="show-page-h1"><%= @portfolio.user.full_name %></h1>
      <p class="show-page-portfolio-location"><%= @portfolio.location %></p>
    </div>
    <div id="portfolio-favorites-<%= @portfolio.id %>">
      <% if user_signed_in? %>
        <% if @portfolio.favorited?(current_user) %>
          <%= link_to favorite_path(@portfolio.favorited?(current_user)), remote: true, method: :delete do  %>
          <i class="fas fa-heart favorite-icon mr-3" style="color: #D62839"></i>
        <% end %>
        <% else %>
          <%= link_to(portfolio_favorites_path(@portfolio), remote: true, method: :post) do %>
          <i class="far fa-heart favorite-icon mr-3" style="color: #D62839"></i>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
