
<!-- <div id="carouselExampleControls<%= @portfolio.id %>" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <%# @portfolio.photos.each_with_index do |photo, index|%>
    <div class="carousel-item <%#= 'active' if index == 0 %>">
      <%#= cl_image_tag photo.key, class: "d-block w-100", class: "show-page-image-design" %>
    </div>
    <%# end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls<%= @portfolio.id %>" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls<%= @portfolio.id %>" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
 -->



<%= cl_image_tag @portfolio.photos[0].key %>

<%= cl_image_tag @portfolio.photos[1].key %>
