<h1><%= @portfolio.name %> </h1>
<p>Located in <%= @portfolio.location %>

<div class="container">
  <%= simple_form_for ([@portfolio, @reservations]) do |f| %>
    <%= f.input :date, as: :date %>
    <%= f.input :total_price, disabled: true %>
    <%= f.submit "Book Now", class:"btn btn-primary w-100" %>
  <% end %>
</div>


