<h1><%= @portfolio.name %> </h1>
<p>Located in <%= @portfolio.location %>

<div class="reservation-form">
  <%= simple_form_for ([@portfolio, @reservations]) do |f| %>
    <%= f.input :date, as: :date %>
    <%= f.input :total_price, disabled: true %>
    <%= f.submit "Book Now", class:"btn btn-primary w-100" %>
  <% end %>
</div>


<% if policy(@portfolio).update? %>
  <div class="mx-2">
  <%= link_to(edit_portfolio_path(@portfolio)) do %>
    <i class="far fa-edit"></i>
  <% end %>
  </div>
  <% end %>

<% if policy(@portfolio).destroy? %>
        <div>
          <%= link_to(@portfolio, method: :delete, data: { confirm: 'Are you sure?' }) do %>
            <i class="far fa-trash-alt">
            </i>
          <% end %>
        </div>
      <% end %>
