<!-- favorite and name header -->
<%= render "favorite" %>

<!-- Here starts the Image Header and the Photographer name and Favorite option -->
<%= render "showpagecarousel" %>

<!-- Here is the Photographer Description -->
<%= render "photographerdescription" %>

<!-- Here is the chatbox when clicked on the icon -->
<%#= render "chatbox" %>
<div class="container show_page-container">
  <%= link_to(chatroom_path(@chatroom)) do %>
    <i class="far fa-comment chat-box-link"> Message me!
    </i>
  <% end %>
</div>

<div class="container show_page-container mt-5">
  <div class="d-flex">
    <div class="review-card-box">
      <%= render "reviewcards" %>
    </div>
    <div class="">
    <%= render "bookingform" %>
    </div>
  </div>
</div>

<div class="container show_page-container">
  <% if current_user == @portfolio.user %>
<div class="d-flex">
  <% if policy(@portfolio).update? %>
  <div class="mx-2">
    <%= link_to(edit_portfolio_path(@portfolio)) do %>
    <i class="far fa-edit"></i>
    <% end %>
  </div>
  <% end %>

  <% if policy(@portfolio).destroy? %>
  <div class="mb-3">
    <%= link_to(@portfolio, method: :delete, data: { confirm: 'Are you sure?' }) do %>
    <i class="far fa-trash-alt">
    </i>
    <% end %>
  </div>
  <% end %>

</div>
<% end %>
</div>






