<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
  <div class="own-portfolio" id="own-portfolio">
    <h2 class="my-5">Your Portfolio:</h2>
    <% if @portfolio.blank? %>
    <p>You have not uploaded a photographer portfolio yet</p>
    <% else %>

    <div class="container">
      <div class="text-center">
      <%#= cl_image_tag @portfolio.photo.key, class: "carousel-profile-size", width: '700px', height: 'auto'%>
      <%= render "myprofile-carousel" %>
      <p id="index-price">$ <%= @portfolio.price %> /day</p>
      <p id="index-description"><%= @portfolio.description&.truncate(140, separator: " ") %></p>
      </div>

      <div class="container show_page-container mt-5">
          <div class="review-card-box-myportfolio">
            <%= render "portfolios/reviewcards" %>
          </div>
      </div>

      <div class="container show_page-container">
        <% if current_user == @portfolio.user %>
          <div class="d-flex">
        <% if policy(@portfolio).update? %>
          <div class="mx-2">
            <%= link_to(edit_portfolio_path(@portfolio)) do %>
              <i class="far fa-edit"></i>
            <% end %>
          </div>
        <% end %>
        <% if policy(@portfolio).destroy? %>
          <div class="mb-3">
            <%= link_to(@portfolio, method: :delete, data: { confirm: 'Are you sure?' }) do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </div>
        <% end %>

        </div>
        <% end %>
      </div>

    </div>
    <% end %>
  </div>
</div>
