<% @reservations.each do |res| %>


  <div class="card entire-card decrease-card-height" id="index-cards">
    <div class="card-product-infos">
      <div class="d-flex">
        <%= cl_image_tag res.portfolio.photo.key, class:"decrease-image-size" %>
        <div class="card-body ">
          <div>
            <%= link_to portfolio_path(res.portfolio), class: "index-cards" do %>
            <h2 class="mb-3" id="index-photographer"><%= res.portfolio.full_name %></h2>
            <% end %>
            <p id="index-description"> You requested <%= res.portfolio.full_name %>`s services for <strong> <%= res.date.strftime("%B %-d, %Y") %></strong>. </p>
            <p id="index-description-approved-<%=res.id%> ">
            <% if res.approved %>
              <p class="green-approved booking-status"> <%= "Approved by #{res.portfolio.user.first_name}" %> </p>
              <% if res.review == nil %>
                <p> <%= link_to "Rate this Photographer", new_portfolio_reservation_review_path(res.portfolio, res)  %> </p>
              <% end %>
            <% elsif !res.approved && !res.declined %>
              <p class="yellow-waiting booking-status"> <%= "Not yet approved" %> (<%= link_to "Cancel Reservation?", reservation_path(res), method: :delete, class: "no-hover-decoration" %>) </p>
            <% else %>
              <p class="red-declined booking-status"> <%= "Your request was declined by #{res.portfolio.user.first_name}" %> </p>
            <% end %>
            </p>
            <div id="index-price"> $ <%= res.portfolio.price %> <span class=""> /day</span></div>
            <p id="index-user">Listed by: <%= res.portfolio.user.first_name %></p>
            </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
