<div class="container">
  <h1 class="my-5">Welcome <%= current_user.full_name %>! </h1>


  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Reservations</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Requests</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Portfolio</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="favorites-tab" data-toggle="tab" href="#favorites" role="tab" aria-controls="favorites" aria-selected="false">Favorites</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="reservations" id="reservations">
        <h2 class="my-5">You have requested the following photographers:</h2>
        <%  if @reservations.blank? %>
          <p>You have not made any reservations yet.</p>
        <% else %>
          <% @reservations.each do |res| %>


              <div class="card" id="index-cards">
                <div class="card-product-infos">
                  <div class="d-flex">
                    <%= cl_image_tag res.portfolio.photo.key, height: 300, width: 400, crop: :fill %>
                    <div class="card-body">
                       <%= link_to portfolio_path(res.portfolio), class: "index-cards" do %>
                      <h2 class="mb-3" id="index-photographer"><%= res.portfolio.full_name.capitalize %></h2>
                      <% end %>
                      <p id="index-description"> You requested <%= res.portfolio.full_name %>`s services for <strong> <%= res.date %></strong>. </p>
                      <p id="index-description-approved-<%=res.id%> ">
                      <% if res.approved %>
                        <p class="green-approved booking-status"> <%= "Approved by #{res.portfolio.user.first_name}" %> </p>
                        <% if res.review == nil %>
                          <p> <%= link_to "Rate this Photographer", new_portfolio_reservation_review_path(res.portfolio, res)  %> </p>
                        <% end %>


                      <% elsif !res.approved && !res.declined %>
                        <p class="yellow-waiting booking-status"> <%= "Not yet approved" %> (<%= link_to "Cancel Reservation?", reservation_path(res), method: :delete, class: "no-hover-decoration" %>) </p>
                      <% else %>
                        <p class="red-declined booking-status"> <%= "Your request was declined by #{res.portfolio.user.first_name}" %> </p>
                      <% end %>
                      </p>
                      <div id="index-price"> € <%= res.portfolio.price %> <span class=""> /day</span></div>
                      <p id="index-user">Listed by: <%= res.portfolio.user.first_name %></p>
                      <%= image_tag 'star.png', width: '60px', height: 'auto', class: "pt-5" %>
                    </div>
                  </div>
                </div>
              </div>


          <% end %>
        <% end %>
      </div>

    </div>

    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="requests " id="requests">
        <h2 class="my-5">Your services are requested for the following dates:</h2>
        <% if @requests.blank? %>
          <p>No one has requested your profile yet.</p>
        <% else %>
          <% @requests.each do |request| %>
            <div class="d-flex align-items-center">
              <%= cl_image_tag request.user.photo.key, class: 'preview-avatar mb-2', width: '60px', height: '60px' %>
              <div class="request-card text-left px-5 d-flex justify-content-between my-2 align-items-center">
                <p> <strong><%= request.user.first_name %></strong> requested your Services on <strong> <%= request.date.strftime("%-d-%-m-%Y") %> </strong> </p>
                <div id="approved-<%= request.id %>">
                  <%if !request.approved && !request.declined  %>
                    <%= link_to (reservation_path(request, approve: true)), method: :patch, remote: true, class: "approve-button" do%>
                      <i class="far fa-check-circle"></i>
                    <% end %>
                    <%= link_to (reservation_path(request, approve: false)), method: :patch, remote: true, class: "reject-button" do %>
                      <i class="far fa-times-circle"></i>
                    <% end %>
                  <% elsif request.approved %>
                    <p>Approved ✓</p>
                  <% elsif request.declined %>
                    <p>Declined ✗</p>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <div class="own-portfolio" id="own-portfolio">
        <h2 class="my-5">Your Portfolio</h2>
        <% if @portfolio.blank? %>
        <p>You have not uploaded a photographer portfolio yet</p>
        <% else %>


            <%= link_to portfolio_path(@portfolio), class: "index-cards" do %>
              <div class="card" id="index-cards">
                <div class="card-product-infos">
                  <div class="d-flex">
                    <%= cl_image_tag @portfolio.photo.key, height: 300, width: 400, crop: :fill %>
                    <div class="card-body">
                      <h2 class="mb-5" id="index-photographer"><%= @portfolio.user.full_name.capitalize %></h2>
                      <div id="index-price"> € <%= @portfolio.price %> <span class=""> /day</span></div>
                      <%= image_tag 'star.png', width: '60px', height: 'auto', class: "pt-5" %>

                      <% if policy(@portfolio).update? %>
                        <div class="mx-2">
                          <%= link_to(edit_portfolio_path(@portfolio)) do %>
                            <i class="far fa-edit"></i>
                          <% end %>
                        </div>
                      <% end %>

                      <% if policy(@portfolio).destroy? %>
                        <div>
                          <%= link_to(@portfolio, method: :delete, data: { confirm: 'Are you sure?' }) do %>
                            <i class="far fa-trash-alt"></i>
                          <% end %>
                        </div>
                      <% end %>

                    </div>
                  </div>
                </div>
              </div>
            <% end %>

        <% end %>
      </div>
    </div>

    <div class="tab-pane fade" id="favorites" role="tabpanel" aria-labelledby="favorites-tab">
      <h2 class="my-5">You favorited the following photographers:</h2>
      <% if @favorites.blank? %>
        <p>You have not favorited any photographers yet</p>
      <% else %>
        <% @favorites.each do |fav| %>

          <%= link_to portfolio_path(fav.portfolio), class: "index-cards" do %>
          <div class="card" id="index-cards">
            <div class="card-product-infos">
              <div class="d-flex">
                <%= cl_image_tag fav.portfolio.photo.key, height: 300, width: 400, crop: :fill %>
                <div class="card-body">
                  <h2 class="mb-3" id="index-photographer"><%= fav.portfolio.full_name.capitalize %></h2>
                  <div id="index-price"> € <%= fav.portfolio.price %> <span class=""> /day</span></div>
                  <p id="index-user">Listed by: <%= fav.portfolio.user.first_name %></p>
                  <%= image_tag 'star.png', width: '60px', height: 'auto', class: "pt-5" %>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

  </div>
</div>




