<div class="booking-confirmation d-flex align-items-center justify-content-center">
  <div class="container text-center pt-3" id="booking-confirmation-box">
    <h1>Congratulations!</h1>
    <p>You requested <%= @reservation.portfolio.name %> for the <%= @reservation.date.strftime("%-d-%-m-%Y") %> </p>
    <p>Waitig for <%= @reservation.portfolio.user.email %> to approve your request...(<%= link_to "Profile", reservations_path %>)</p>
    <%= link_to "Continue looking?", portfolios_path, class: "btn btn-primary my-3" %>
  </div>
</div>
