<div class="container">
  <h1>How was yoour Experience with <%=  %> </h1>
  <div class="row">
    <div class="col-xs-4">
      <%= simple_form_for [@portfolio, @reservation, @review] do |f| %>
        <%= f.input :photographer_description, placeholder: "Describe your experience with this Photographer here...", label: "Review:" %>
        <%= f.input :photographer_rating, collection: (1..5).to_a, label: "Rate your experience with this Photographer:" %>
        <%= f.submit "Submit your review" %>
      <% end %>
    </div>
  </div>
</div>
